In [1]:
import os
import numpy as np
import pandas as pd
import scipy.stats as st

In [2]:
os.chdir(r'C:\Users\Home\Documents\Laboral2020\Konrad Lorenz\Datos Estructurados y No estructurados\clase2\datos')

In [3]:
os.listdir()

['variables_adicionales_hogar_v3.txt']

In [4]:
data = pd.read_csv('variables_adicionales_hogar_v3.txt', sep = ";")
data.columns

Index(['DIRECTORIO', 'FEX_C', 'DIRECTORIO_HOG', 'DIRECTORIO_PER',
       'PUNTAJE_PISOS', 'PUNTAJE_PAREDES', 'PUNTAJE_SANITARIO',
       'PUNTAJE_BASURAS', 'PUNTAJE_AGUA', 'PUNTAJE_COMBUSTIBLE',
       'PUNTAJE_HACINAMIENTO', 'PUNTAJE_EDUC_JEFE', 'PUNTAJE_PROM_12',
       'PUNTAJE_ASIS_5_11', 'PUNTAJE_ASIS_12_18', 'PUNTAJE_NIñOS_SEIS',
       'TOTAL_PUNTAJE', 'INGRESOS_HOG', 'INGRESOS_PER_CAPITA', 'HOGAR_LP',
       'HOGAR_LE', 'ESTRATO_VIV', 'PER_UG', 'IPM_BAJO_LOGRO_ED',
       'IPM_ANALFABET', 'IPM_INASISTENCIA_ESC', 'IPM_REZAGO_ESC', 'IPM_PI',
       'IPM_TRABAJO_INFANTIL', 'IPM_ASEG_SALUD', 'IPM_ACCESO_SALUD',
       'IPM_DESEMPLEO_LP', 'IPM_EMPLEO_FORMAL', 'IPM_AGUA', 'IPM_SAN_BASICO',
       'IPM_PISOS', 'IPM_PAREDES', 'IPM_HACINAMIENTO', 'IPM',
       'HOGAR_POBRE_IPM'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109111 entries, 0 to 109110
Data columns (total 40 columns):
DIRECTORIO              109111 non-null int64
FEX_C                   109111 non-null float64
DIRECTORIO_HOG          109111 non-null int64
DIRECTORIO_PER          109111 non-null int64
PUNTAJE_PISOS           109111 non-null float64
PUNTAJE_PAREDES         109111 non-null float64
PUNTAJE_SANITARIO       109111 non-null float64
PUNTAJE_BASURAS         109111 non-null float64
PUNTAJE_AGUA            109111 non-null float64
PUNTAJE_COMBUSTIBLE     109111 non-null float64
PUNTAJE_HACINAMIENTO    109111 non-null float64
PUNTAJE_EDUC_JEFE       109111 non-null float64
PUNTAJE_PROM_12         109111 non-null float64
PUNTAJE_ASIS_5_11       109111 non-null float64
PUNTAJE_ASIS_12_18      109111 non-null float64
PUNTAJE_NIñOS_SEIS      109111 non-null float64
TOTAL_PUNTAJE           109111 non-null float64
INGRESOS_HOG            109111 non-null float64
INGRESOS_PER_CAPITA     109111 non-null float64
HOGAR_LP                109111 non-null int64
HOGAR_LE                109111 non-null int64
ESTRATO_VIV             109111 non-null int64
PER_UG                  109111 non-null int64
IPM_BAJO_LOGRO_ED       109111 non-null int64
IPM_ANALFABET           109111 non-null int64
IPM_INASISTENCIA_ESC    109111 non-null int64
IPM_REZAGO_ESC          109111 non-null int64
IPM_PI                  109111 non-null int64
IPM_TRABAJO_INFANTIL    109111 non-null int64
IPM_ASEG_SALUD          109111 non-null int64
IPM_ACCESO_SALUD        109111 non-null int64
IPM_DESEMPLEO_LP        109111 non-null int64
IPM_EMPLEO_FORMAL       109111 non-null int64
IPM_AGUA                109111 non-null int64
IPM_SAN_BASICO          109111 non-null int64
IPM_PISOS               109111 non-null int64
IPM_PAREDES             109111 non-null int64
IPM_HACINAMIENTO        109111 non-null int64
IPM                     109111 non-null float64
HOGAR_POBRE_IPM         109111 non-null int64
dtypes: float64(17), int64(23)
memory usage: 33.3 MB

# Recodificación de variables

In [6]:
 data['ESTRATO_VIV'].value_counts()

2    45629
3    35886
4    13071
1    10570
5     2630
6     1325
Name: ESTRATO_VIV, dtype: int64

In [7]:
data['ESTRATO_VIV'].replace({1: 'Bajo', 2: 'Bajo', 3: 'Medio', 4: 'Medio', 5: 'Alto', 6: 'Alto'}, inplace=True)

In [8]:
 data['ESTRATO_VIV'].value_counts()

Bajo     56199
Medio    48957
Alto      3955
Name: ESTRATO_VIV, dtype: int64

No es recomendable recodificar en la misma variable, en su lugar es preferible crear una nueva variable

In [9]:
data = pd.read_csv('variables_adicionales_hogar_v3.txt', sep = ";")
data['ESTRATO_VIV_R'] = data['ESTRATO_VIV'].replace({1: 'Bajo', 2: 'Bajo', 3: 'Medio', 4: 'Medio', 5: 'Alto', 6: 'Alto'})
data['ESTRATO_VIV_R'].value_counts()

Bajo     56199
Medio    48957
Alto      3955
Name: ESTRATO_VIV_R, dtype: int64

Otra forma de hacer la recodificación que puede ser más conveniente es utilizando listas:

In [10]:
data.drop(columns = ['ESTRATO_VIV_R'], inplace = True)

In [11]:
data["ESTRATO_VIV_R"] = data["ESTRATO_VIV"].replace(list(np.arange(1,7)), ['Bajo','Bajo','Medio','Medio','Alto','Alto'])

In [12]:

data["ESTRATO_VIV_R"].value_counts()

Bajo     56199
Medio    48957
Alto      3955
Name: ESTRATO_VIV_R, dtype: int64

También se pude recodificar variables de tipo continuo, por ejemplo construir los cuartiles del ingreso percapita:

In [13]:
ls_percentiles = list(data['INGRESOS_PER_CAPITA'].quantile([0, .25, .5, .75, 1])) 
ls_percentiles

[0.0, 387841.735, 737700.0, 1456666.6, 300400000.0]

In [14]:
ls_percentiles

[0.0, 387841.735, 737700.0, 1456666.6, 300400000.0]

In [15]:
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles)

In [16]:
data['cuartiles_ingreso'].value_counts()

(387841.735, 737700.0]      27286
(1456666.6, 300400000.0]    27276
(737700.0, 1456666.6]       27271
(0.0, 387841.735]           23496
Name: cuartiles_ingreso, dtype: int64

In [17]:
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles, right=False, include_lowest = True)
data['cuartiles_ingreso'].value_counts()

[1456666.6, 300400000.0)    27280
[0.0, 387841.735)           27278
[737700.0, 1456666.6)       27277
[387841.735, 737700.0)      27275
Name: cuartiles_ingreso, dtype: int64

In [18]:
ls_percentiles = list(data['INGRESOS_PER_CAPITA'].quantile([0, .25, .5, .75, 1])) 
ls_percentiles[4]=ls_percentiles[4]+1 
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles,  right=False, include_lowest = True)
data['cuartiles_ingreso'].value_counts()

[1456666.6, 300400001.0)    27281
[0.0, 387841.735)           27278
[737700.0, 1456666.6)       27277
[387841.735, 737700.0)      27275
Name: cuartiles_ingreso, dtype: int64

In [19]:
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles,  right=False, labels = [1, 2, 3, 4], include_lowest = True)
data['cuartiles_ingreso'].value_counts()

4    27281
1    27278
3    27277
2    27275
Name: cuartiles_ingreso, dtype: int64

In [20]:
data['cuartiles_ingreso'].value_counts().sort_index()

1    27278
2    27275
3    27277
4    27281
Name: cuartiles_ingreso, dtype: int64

In [21]:
def cv(x):
    return np.std(x) / np.mean(x)

data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].apply(cv)

INGRESOS_HOG           1.296430
INGRESOS_PER_CAPITA    1.621271
dtype: float64

# Agregaciones y agrupación

In [22]:
df = pd.DataFrame(
{'v1': [1, 3, 5, 7, 8, 3, 5, np.nan, 4, 5, 7, 9],
 'v2': [11, 33, 55, 77, 88, 33, 55, np.nan, 44, 55, 77, 99],
 'grupo1': ["red", "blue", 1, 2, np.nan, "big", 1, 2, "red", 1, np.nan, 12],
 'grupo2': ["wet", "dry", 99, 95, np.nan, "damp", 95, 99, "red", 99, np.nan,
                 np.nan]})
df

     v1    v2 grupo1 grupo2
0   1.0  11.0    red    wet
1   3.0  33.0   blue    dry
2   5.0  55.0      1     99
3   7.0  77.0      2     95
4   8.0  88.0    NaN    NaN
5   3.0  33.0    big   damp
6   5.0  55.0      1     95
7   NaN   NaN      2     99
8   4.0  44.0    red    red
9   5.0  55.0      1     99
10  7.0  77.0    NaN    NaN
11  9.0  99.0     12    NaN

In [23]:
df.groupby(['grupo1', 'grupo2'], as_index=False)[['v1', 'v2']].mean()

  grupo1 grupo2   v1    v2
0      1     95  5.0  55.0
1      1     99  5.0  55.0
2      2     95  7.0  77.0
3      2     99  NaN   NaN
4    big   damp  3.0  33.0
5   blue    dry  3.0  33.0
6    red    red  4.0  44.0
7    red    wet  1.0  11.0

In [24]:
En principio la función agg permite definer cualquier función de interés:

SyntaxError: invalid syntax (<ipython-input-24-045c73d8311e>, line 1)

In [25]:
df = pd.DataFrame({'A':[1,1,2,2],'B':[1,2,1,2],'values':np.arange(10,30,5)})
df.groupby('A').agg(np.std, ddof=0)
df.groupby('A')['values'].agg(np.std, ddof=0)

A
1    2.5
2    2.5
Name: values, dtype: float64

Para estimar el coeficiente de variación del ingreso por ejemplo por estrato

In [26]:
data.groupby(['ESTRATO_VIV'])['INGRESOS_HOG', 'INGRESOS_PER_CAPITA'].std() / data.groupby(['ESTRATO_VIV'])['INGRESOS_HOG', 'INGRESOS_PER_CAPITA'].mean()

             INGRESOS_HOG  INGRESOS_PER_CAPITA
ESTRATO_VIV
1                1.006133             1.382481
2                1.162648             2.215280
3                0.953253             1.084926
4                0.852510             0.937722
5                0.858295             0.890010
6                1.105338             0.984074

In [27]:
data.groupby('ESTRATO_VIV')['INGRESOS_PER_CAPITA'].aggregate([np.mean, np.median, np.std, st.skew ])

                     mean      median           std        skew
ESTRATO_VIV
1            4.737488e+05   371020.83  6.549485e+05   32.280448
2            7.273690e+05   548444.44  1.611326e+06  141.940251
3            1.305186e+06   925916.69  1.416030e+06    4.684356
4            3.094257e+06  2380000.00  2.901551e+06    3.583520
5            4.318404e+06  3400000.00  3.843422e+06    2.954397
6            5.869000e+06  4275689.00  5.775530e+06    3.127813

In [28]:
data.groupby('ESTRATO_VIV', as_index=False)['INGRESOS_PER_CAPITA'].agg([np.mean, np.median, np.std, st.skew ])

                     mean      median           std        skew
ESTRATO_VIV
1            4.737488e+05   371020.83  6.549485e+05   32.280448
2            7.273690e+05   548444.44  1.611326e+06  141.940251
3            1.305186e+06   925916.69  1.416030e+06    4.684356
4            3.094257e+06  2380000.00  2.901551e+06    3.583520
5            4.318404e+06  3400000.00  3.843422e+06    2.954397
6            5.869000e+06  4275689.00  5.775530e+06    3.127813

Otra funcionalidad de pandas es pasar un diccionario que relacione las columnas a las operaciones aplicadas a dichas columnas

In [29]:
data.groupby('ESTRATO_VIV').agg({'INGRESOS_PER_CAPITA': 'mean', 'INGRESOS_HOG': 'mean'})

             INGRESOS_PER_CAPITA  INGRESOS_HOG
ESTRATO_VIV
1                   4.737488e+05  1.356108e+06
2                   7.273690e+05  1.980181e+06
3                   1.305186e+06  3.216945e+06
4                   3.094257e+06  6.601989e+06
5                   4.318404e+06  9.239465e+06
6                   5.869000e+06  1.170105e+07

Se pueden crear varias funciones personalizadas para aplicar en las agregaciones:

In [30]:
def cv(x):
    return np.std(x) / np.mean(x)

data.groupby('ESTRATO_VIV', as_index=False).agg({'INGRESOS_PER_CAPITA': ['mean', cv], 'INGRESOS_HOG':  ['mean', cv]})

  ESTRATO_VIV INGRESOS_PER_CAPITA            INGRESOS_HOG
                             mean        cv          mean        cv
0           1        4.737488e+05  1.382415  1.356108e+06  1.006085
1           2        7.273690e+05  2.215256  1.980181e+06  1.162636
2           3        1.305186e+06  1.084911  3.216945e+06  0.953239
3           4        3.094257e+06  0.937686  6.601989e+06  0.852477
4           5        4.318404e+06  0.889841  9.239465e+06  0.858131
5           6        5.869000e+06  0.983703  1.170105e+07  1.104921

In [31]:
data.groupby('ESTRATO_VIV').agg({'INGRESOS_PER_CAPITA': ['mean', cv], 'INGRESOS_HOG':  ['mean', cv]})

            INGRESOS_PER_CAPITA            INGRESOS_HOG
                           mean        cv          mean        cv
ESTRATO_VIV
1                  4.737488e+05  1.382415  1.356108e+06  1.006085
2                  7.273690e+05  2.215256  1.980181e+06  1.162636
3                  1.305186e+06  1.084911  3.216945e+06  0.953239
4                  3.094257e+06  0.937686  6.601989e+06  0.852477
5                  4.318404e+06  0.889841  9.239465e+06  0.858131
6                  5.869000e+06  0.983703  1.170105e+07  1.104921

In [32]:
#df.groupby(['ESTRATO_VIV']).agg({"Amount": [("Sum", "sum"), ("Count", "count")]})
data.groupby('ESTRATO_VIV').agg({'INGRESOS_PER_CAPITA': [('Promedio', 'mean'), ('CV', cv)], 'INGRESOS_HOG':[('Promedio', 'mean'), ('CV', cv)]})

            INGRESOS_PER_CAPITA            INGRESOS_HOG
                       Promedio        CV      Promedio        CV
ESTRATO_VIV
1                  4.737488e+05  1.382415  1.356108e+06  1.006085
2                  7.273690e+05  2.215256  1.980181e+06  1.162636
3                  1.305186e+06  1.084911  3.216945e+06  0.953239
4                  3.094257e+06  0.937686  6.601989e+06  0.852477
5                  4.318404e+06  0.889841  9.239465e+06  0.858131
6                  5.869000e+06  0.983703  1.170105e+07  1.104921

Calcular promedio y mediana del ingreso y del ingreso percapita:

In [34]:
consulta = data.groupby('ESTRATO_VIV').agg({ 
    'DIRECTORIO_HOG':'size',
    'INGRESOS_HOG':['mean','median'],
    'INGRESOS_PER_CAPITA':['mean','median']
})

In [35]:
consulta

            DIRECTORIO_HOG  INGRESOS_HOG            INGRESOS_PER_CAPITA  \
                      size          mean     median                mean
ESTRATO_VIV
1                    10570  1.356108e+06  1080000.0        4.737488e+05
2                    45629  1.980181e+06  1555000.0        7.273690e+05
3                    35886  3.216945e+06  2400000.0        1.305186e+06
4                    13071  6.601989e+06  5200000.0        3.094257e+06
5                     2630  9.239465e+06  7332708.5        4.318404e+06
6                     1325  1.170105e+07  8000000.0        5.869000e+06


                 median
ESTRATO_VIV
1             371020.83
2             548444.44
3             925916.69
4            2380000.00
5            3400000.00
6            4275689.00

In [36]:
consulta.columns

MultiIndex(levels=[['DIRECTORIO_HOG', 'INGRESOS_HOG', 'INGRESOS_PER_CAPITA'], ['mean', 'median', 'size']],
           codes=[[0, 1, 1, 2, 2], [2, 0, 1, 0, 1]])

In [37]:
consulta.columns = list(map(''.join, consulta.columns.values))
consulta

,DIRECTORIO_HOGsize,INGRESOS_HOGmean,INGRESOS_HOGmedian,INGRESOS_PER_CAPITAmean,INGRESOS_PER_CAPITAmedian
ESTRATO_VIV,,,,,
1,10570,1.356108e+06,1080000.0,4.737488e+05,371020.83
2,45629,1.980181e+06,1555000.0,7.273690e+05,548444.44
3,35886,3.216945e+06,2400000.0,1.305186e+06,925916.69
4,13071,6.601989e+06,5200000.0,3.094257e+06,2380000.00
5,2630,9.239465e+06,7332708.5,4.318404e+06,3400000.00
6,1325,1.170105e+07,8000000.0,5.869000e+06,4275689.00

In [ ]:
consulta.columns