In [205]:
import os
import numpy as np
import pandas as pd
import scipy.stats as st

In [206]:
os.chdir(r'C:\Users\Home\Documents\Laboral2020\Konrad Lorenz\Datos Estructurados y No estructurados\clase2\datos')

In [207]:
os.listdir()

['.Rhistory', 'Ejercicio Clase.R', 'variables_adicionales_hogar_v3.txt']

In [208]:
data = pd.read_csv('variables_adicionales_hogar_v3.txt', sep = ";")
data.columns

Index(['DIRECTORIO', 'FEX_C', 'DIRECTORIO_HOG', 'DIRECTORIO_PER',
       'PUNTAJE_PISOS', 'PUNTAJE_PAREDES', 'PUNTAJE_SANITARIO',
       'PUNTAJE_BASURAS', 'PUNTAJE_AGUA', 'PUNTAJE_COMBUSTIBLE',
       'PUNTAJE_HACINAMIENTO', 'PUNTAJE_EDUC_JEFE', 'PUNTAJE_PROM_12',
       'PUNTAJE_ASIS_5_11', 'PUNTAJE_ASIS_12_18', 'PUNTAJE_NIñOS_SEIS',
       'TOTAL_PUNTAJE', 'INGRESOS_HOG', 'INGRESOS_PER_CAPITA', 'HOGAR_LP',
       'HOGAR_LE', 'ESTRATO_VIV', 'PER_UG', 'IPM_BAJO_LOGRO_ED',
       'IPM_ANALFABET', 'IPM_INASISTENCIA_ESC', 'IPM_REZAGO_ESC', 'IPM_PI',
       'IPM_TRABAJO_INFANTIL', 'IPM_ASEG_SALUD', 'IPM_ACCESO_SALUD',
       'IPM_DESEMPLEO_LP', 'IPM_EMPLEO_FORMAL', 'IPM_AGUA', 'IPM_SAN_BASICO',
       'IPM_PISOS', 'IPM_PAREDES', 'IPM_HACINAMIENTO', 'IPM',
       'HOGAR_POBRE_IPM'],
      dtype='object')

In [209]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109111 entries, 0 to 109110
Data columns (total 40 columns):
DIRECTORIO              109111 non-null int64
FEX_C                   109111 non-null float64
DIRECTORIO_HOG          109111 non-null int64
DIRECTORIO_PER          109111 non-null int64
PUNTAJE_PISOS           109111 non-null float64
PUNTAJE_PAREDES         109111 non-null float64
PUNTAJE_SANITARIO       109111 non-null float64
PUNTAJE_BASURAS         109111 non-null float64
PUNTAJE_AGUA            109111 non-null float64
PUNTAJE_COMBUSTIBLE     109111 non-null float64
PUNTAJE_HACINAMIENTO    109111 non-null float64
PUNTAJE_EDUC_JEFE       109111 non-null float64
PUNTAJE_PROM_12         109111 non-null float64
PUNTAJE_ASIS_5_11       109111 non-null float64
PUNTAJE_ASIS_12_18      109111 non-null float64
PUNTAJE_NIñOS_SEIS      109111 non-null float64
TOTAL_PUNTAJE           109111 non-null float64
INGRESOS_HOG            109111 non-null float64
INGRESOS_PER_CAPITA     109111 non-null float64
HOGAR_LP                109111 non-null int64
HOGAR_LE                109111 non-null int64
ESTRATO_VIV             109111 non-null int64
PER_UG                  109111 non-null int64
IPM_BAJO_LOGRO_ED       109111 non-null int64
IPM_ANALFABET           109111 non-null int64
IPM_INASISTENCIA_ESC    109111 non-null int64
IPM_REZAGO_ESC          109111 non-null int64
IPM_PI                  109111 non-null int64
IPM_TRABAJO_INFANTIL    109111 non-null int64
IPM_ASEG_SALUD          109111 non-null int64
IPM_ACCESO_SALUD        109111 non-null int64
IPM_DESEMPLEO_LP        109111 non-null int64
IPM_EMPLEO_FORMAL       109111 non-null int64
IPM_AGUA                109111 non-null int64
IPM_SAN_BASICO          109111 non-null int64
IPM_PISOS               109111 non-null int64
IPM_PAREDES             109111 non-null int64
IPM_HACINAMIENTO        109111 non-null int64
IPM                     109111 non-null float64
HOGAR_POBRE_IPM         109111 non-null int64
dtypes: float64(17), int64(23)
memory usage: 33.3 MB

# Recodificación de variables

In [210]:
 data['ESTRATO_VIV'].value_counts()

2    45629
3    35886
4    13071
1    10570
5     2630
6     1325
Name: ESTRATO_VIV, dtype: int64

In [211]:
data['ESTRATO_VIV'].replace({1: 'Bajo', 2: 'Bajo', 3: 'Medio', 4: 'Medio', 5: 'Alto', 6: 'Alto'}, inplace=True)

In [212]:
 data['ESTRATO_VIV'].value_counts()

Bajo     56199
Medio    48957
Alto      3955
Name: ESTRATO_VIV, dtype: int64

No es recomendable recodificar en la misma variable, en su lugar es preferible crear una nueva variable

In [213]:
data = pd.read_csv('variables_adicionales_hogar_v3.txt', sep = ";")
data['ESTRATO_VIV_R'] = data['ESTRATO_VIV'].replace({1: 'Bajo', 2: 'Bajo', 3: 'Medio', 4: 'Medio', 5: 'Alto', 6: 'Alto'})
data['ESTRATO_VIV_R'].value_counts()

Bajo     56199
Medio    48957
Alto      3955
Name: ESTRATO_VIV_R, dtype: int64

Otra forma de hacer la recodificación que puede ser más conveniente es utilizando listas:

In [214]:
data.drop(columns = ['ESTRATO_VIV_R'], inplace = True)

In [215]:
data["ESTRATO_VIV_R"] = data["ESTRATO_VIV"].replace(list(np.arange(1,7)), ['Bajo','Bajo','Medio','Medio','Alto','Alto'])

In [216]:

data["ESTRATO_VIV_R"].value_counts()

Bajo     56199
Medio    48957
Alto      3955
Name: ESTRATO_VIV_R, dtype: int64

También se pude recodificar variables de tipo continuo, por ejemplo construir los cuartiles del ingreso percapita:

In [217]:
ls_percentiles = list(data['INGRESOS_PER_CAPITA'].quantile([0, .25, .5, .75, 1])) 
ls_percentiles

[0.0, 387841.735, 737700.0, 1456666.6, 300400000.0]

In [218]:
ls_percentiles

[0.0, 387841.735, 737700.0, 1456666.6, 300400000.0]

In [219]:
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles)

In [220]:
data['cuartiles_ingreso'].value_counts()

(387841.735, 737700.0]      27286
(1456666.6, 300400000.0]    27276
(737700.0, 1456666.6]       27271
(0.0, 387841.735]           23496
Name: cuartiles_ingreso, dtype: int64

In [221]:
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles, right=False, include_lowest = True)
data['cuartiles_ingreso'].value_counts()

[1456666.6, 300400000.0)    27280
[0.0, 387841.735)           27278
[737700.0, 1456666.6)       27277
[387841.735, 737700.0)      27275
Name: cuartiles_ingreso, dtype: int64

In [222]:
ls_percentiles = list(data['INGRESOS_PER_CAPITA'].quantile([0, .25, .5, .75, 1])) 
ls_percentiles[4]=ls_percentiles[4]+1 
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles,  right=False, include_lowest = True)
data['cuartiles_ingreso'].value_counts()

[1456666.6, 300400001.0)    27281
[0.0, 387841.735)           27278
[737700.0, 1456666.6)       27277
[387841.735, 737700.0)      27275
Name: cuartiles_ingreso, dtype: int64

In [223]:
data['cuartiles_ingreso'] = pd.cut(data['INGRESOS_PER_CAPITA'],  bins=ls_percentiles,  right=False, labels = [1, 2, 3, 4], include_lowest = True)
data['cuartiles_ingreso'].value_counts()

4    27281
1    27278
3    27277
2    27275
Name: cuartiles_ingreso, dtype: int64

In [224]:
data['cuartiles_ingreso'].value_counts().sort_index()

1    27278
2    27275
3    27277
4    27281
Name: cuartiles_ingreso, dtype: int64

# Los verbos básicos para análisis de datos

* Verbo	dplyr (R)	Python(pandas)
* Crear Variables	mutate	assign
* Seleccionar Variables	select	filter
* Renombrar Variables	rename	rename
* Filtrar	filter	query
* Ordenar	arrange	sort_values
* Agrupar	group_by	groupby
* Resumir	summarize	agg

# Seleccionar variables

Conservar la variable identificadora del hogar (Directorio del hogar), el estrato, el ingreso, los cuartiles de ingreso y el ingreso percapita en ese orden:

In [225]:
data.columns

Index(['DIRECTORIO', 'FEX_C', 'DIRECTORIO_HOG', 'DIRECTORIO_PER',
       'PUNTAJE_PISOS', 'PUNTAJE_PAREDES', 'PUNTAJE_SANITARIO',
       'PUNTAJE_BASURAS', 'PUNTAJE_AGUA', 'PUNTAJE_COMBUSTIBLE',
       'PUNTAJE_HACINAMIENTO', 'PUNTAJE_EDUC_JEFE', 'PUNTAJE_PROM_12',
       'PUNTAJE_ASIS_5_11', 'PUNTAJE_ASIS_12_18', 'PUNTAJE_NIñOS_SEIS',
       'TOTAL_PUNTAJE', 'INGRESOS_HOG', 'INGRESOS_PER_CAPITA', 'HOGAR_LP',
       'HOGAR_LE', 'ESTRATO_VIV', 'PER_UG', 'IPM_BAJO_LOGRO_ED',
       'IPM_ANALFABET', 'IPM_INASISTENCIA_ESC', 'IPM_REZAGO_ESC', 'IPM_PI',
       'IPM_TRABAJO_INFANTIL', 'IPM_ASEG_SALUD', 'IPM_ACCESO_SALUD',
       'IPM_DESEMPLEO_LP', 'IPM_EMPLEO_FORMAL', 'IPM_AGUA', 'IPM_SAN_BASICO',
       'IPM_PISOS', 'IPM_PAREDES', 'IPM_HACINAMIENTO', 'IPM',
       'HOGAR_POBRE_IPM', 'ESTRATO_VIV_R', 'cuartiles_ingreso'],
      dtype='object')

In [226]:
data2=data.filter(['DIRECTORIO_HOG', 'ESTRATO_VIV','INGRESOS_HOG','cuartiles_ingreso','INGRESOS_PER_CAPITA'])
data2.head()

,DIRECTORIO_HOG,ESTRATO_VIV,INGRESOS_HOG,cuartiles_ingreso,INGRESOS_PER_CAPITA
0,1010001,2,1.702367e+07,4,5.674556e+06
1,1010011,3,3.372667e+06,3,8.431667e+05
2,1010021,3,2.225000e+06,3,1.112500e+06
3,1010031,3,3.620000e+06,3,1.206667e+06
4,1010041,6,4.166667e+03,1,4.166667e+03

# Renombrar variables

Si se desea renombrar variables, puede utilizarse la función rename, por ejemplo suponga que se desea renombrar las varialbles de datos2 a id_hog, estrato, ingreso, clasifica_ingreso, ingreso_pc

In [227]:
data2=data2.rename(columns={'DIRECTORIO_HOG': 'id_hog', 'ESTRATO_VIV': 'estrato', 'INGRESOS_HOG':'ingreso', 'cuartiles_ingreso':'clasifica_ingreso','INGRESOS_PER_CAPITA':'ingreso_pc'})

In [228]:
data2.head()

    id_hog  estrato       ingreso clasifica_ingreso    ingreso_pc
0  1010001        2  1.702367e+07                 4  5.674556e+06
1  1010011        3  3.372667e+06                 3  8.431667e+05
2  1010021        3  2.225000e+06                 3  1.112500e+06
3  1010031        3  3.620000e+06                 3  1.206667e+06
4  1010041        6  4.166667e+03                 1  4.166667e+03

# Construir nuevas variables

Es posible construir nuevas variables, por ejemplo el logaritmo de los ingresos, se puede hacer operaciones entre variables, por ejemplo sumar para la variable PUNTAJE_TOTAL es la suma de varios puntajes: PUNTAJE_PISOS', 'PUNTAJE_PAREDES', 'PUNTAJE_SANITARIO', 'PUNTAJE_BASURAS', 'PUNTAJE_AGUA', 'PUNTAJE_COMBUSTIBLE',PUNTAJE_HACINAMIENTO', 'PUNTAJE_EDUC_JEFE', 'PUNTAJE_PROM_12', 'PUNTAJE_ASIS_5_11', 'PUNTAJE_ASIS_12_18', 'PUNTAJE_NIñOS_SEIS', TOTAL_PUNTAJE'.
Se puede calcular el logaritmo del ingreso del hogar:

In [229]:
data = data.assign(logingreso=np.log(data['INGRESOS_HOG']))
data.head()

C:\Users\Home\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

,DIRECTORIO,FEX_C,DIRECTORIO_HOG,DIRECTORIO_PER,PUNTAJE_PISOS,PUNTAJE_PAREDES,PUNTAJE_SANITARIO,PUNTAJE_BASURAS,PUNTAJE_AGUA,PUNTAJE_COMBUSTIBLE,...,IPM_AGUA,IPM_SAN_BASICO,IPM_PISOS,IPM_PAREDES,IPM_HACINAMIENTO,IPM,HOGAR_POBRE_IPM,ESTRATO_VIV_R,cuartiles_ingreso,logingreso
0,101000,16.604442,1010001,10100011,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.1,0,Bajo,4,16.650115
1,101001,26.046357,1010011,10100111,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.1,0,Medio,3,15.031214
2,101002,13.840826,1010021,10100211,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.0,0,Medio,3,14.615267
3,101003,7.011111,1010031,10100311,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.2,0,Medio,3,15.101985
4,101004,67.930390,1010041,10100411,6.79,6.11,7.14,6.62,6.99,0.00,...,0,0,0,0,0,0.2,0,Alto,1,8.334872

Para hacer el código más sucinto:

In [230]:
data.drop(columns=['logingreso'],inplace=True) # Borro el logaritmo del ingreso
data.head()

,DIRECTORIO,FEX_C,DIRECTORIO_HOG,DIRECTORIO_PER,PUNTAJE_PISOS,PUNTAJE_PAREDES,PUNTAJE_SANITARIO,PUNTAJE_BASURAS,PUNTAJE_AGUA,PUNTAJE_COMBUSTIBLE,...,IPM_EMPLEO_FORMAL,IPM_AGUA,IPM_SAN_BASICO,IPM_PISOS,IPM_PAREDES,IPM_HACINAMIENTO,IPM,HOGAR_POBRE_IPM,ESTRATO_VIV_R,cuartiles_ingreso
0,101000,16.604442,1010001,10100011,6.79,6.11,7.14,6.62,6.99,6.67,...,1,0,0,0,0,0,0.1,0,Bajo,4
1,101001,26.046357,1010011,10100111,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0,0.1,0,Medio,3
2,101002,13.840826,1010021,10100211,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0,0.0,0,Medio,3
3,101003,7.011111,1010031,10100311,6.79,6.11,7.14,6.62,6.99,6.67,...,1,0,0,0,0,0,0.2,0,Medio,3
4,101004,67.930390,1010041,10100411,6.79,6.11,7.14,6.62,6.99,0.00,...,1,0,0,0,0,0,0.2,0,Alto,1

In [231]:
data = data.assign(logingreso=np.log(data['INGRESOS_HOG']))
data = data.assign(logingreso=lambda x: np.log(x.INGRESOS_HOG))
data.head()

C:\Users\Home\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.
C:\Users\Home\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

,DIRECTORIO,FEX_C,DIRECTORIO_HOG,DIRECTORIO_PER,PUNTAJE_PISOS,PUNTAJE_PAREDES,PUNTAJE_SANITARIO,PUNTAJE_BASURAS,PUNTAJE_AGUA,PUNTAJE_COMBUSTIBLE,...,IPM_AGUA,IPM_SAN_BASICO,IPM_PISOS,IPM_PAREDES,IPM_HACINAMIENTO,IPM,HOGAR_POBRE_IPM,ESTRATO_VIV_R,cuartiles_ingreso,logingreso
0,101000,16.604442,1010001,10100011,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.1,0,Bajo,4,16.650115
1,101001,26.046357,1010011,10100111,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.1,0,Medio,3,15.031214
2,101002,13.840826,1010021,10100211,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.0,0,Medio,3,14.615267
3,101003,7.011111,1010031,10100311,6.79,6.11,7.14,6.62,6.99,6.67,...,0,0,0,0,0,0.2,0,Medio,3,15.101985
4,101004,67.930390,1010041,10100411,6.79,6.11,7.14,6.62,6.99,0.00,...,0,0,0,0,0,0.2,0,Alto,1,8.334872

Se puede al mismo tiempo realizar la creación de las dos variables, ejercicio!!

# Ordenar por variables

Organizar por estrato y la clasificación de gasto:

In [232]:
prueba = data2.sort_values(by=['estrato', 'clasifica_ingreso'], ascending=False)
prueba.head()

     id_hog  estrato     ingreso clasifica_ingreso  ingreso_pc
5   1010051        6   6233333.0                 4   6233333.0
71  1010711        6  15000000.0                 4  15000000.0
72  1010721        6   2500000.0                 4   2500000.0
74  1010741        6   8400000.0                 4   4200000.0
75  1010751        6  13866666.0                 4   4622222.0

Si se quiere organizar por dos columnas

In [233]:
prueba = data2.sort_values(by=['estrato', 'clasifica_ingreso'], ascending=[False,True])
prueba.head()

       id_hog  estrato       ingreso clasifica_ingreso   ingreso_pc
4     1010041        6  4.166667e+03                 1    4166.6665
73    1010731        6  0.000000e+00                 1       0.0000
7078  1116561        6  0.000000e+00                 1       0.0000
7084  1116611        6  1.237500e+06                 1  247500.0000
8757  1221641        6  9.295000e+05                 1  232375.0000

# Agregaciones básicas

In [234]:
Una agregación consiste en sacar una estadística resumen (un total, un promedio, un coteo, etc)

SyntaxError: invalid syntax (<ipython-input-234-9196a56ea19f>, line 1)

In [ ]:
p90 = data['INGRESOS_HOG'].quantile(0.9)
p90

In [ ]:
data[['INGRESOS_HOG']].mean()

Ahora suponga que se quiere calcular varias estadísticas y colocarlas en un pandas dataframe

In [ ]:
stats=pd.DataFrame()
stats["N"]=data[['INGRESOS_HOG']].count() # Importante subindizarlo
stats["min"]=data[['INGRESOS_HOG']].mean()
stats["mean"]=data[['INGRESOS_HOG']].mean()
stats["Std.Dev"]=data[['INGRESOS_HOG']].std()
stats["Var"]=data[['INGRESOS_HOG']].var()
stats["max"]=data[['INGRESOS_HOG']].max()
stats

In [ ]:
Se pueden cosntruir funciones personalizadas, para aplicarlas se puede utilizar la función apply que genera estadísticas por columnas (por defecto) o por filas

In [ ]:
def cv(x):
    return np.std(x) / np.mean(x)

data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].apply(cv)

In [ ]:
stats=pd.DataFrame()
stats["N"]=data[['INGRESOS_HOG']].count() # Importante subindizarlo
stats['min']=data[['INGRESOS_HOG']].mean()
stats['mean']=data[['INGRESOS_HOG']].mean()
stats['Std.Dev']=data[['INGRESOS_HOG']].std()
stats['cv']=data[['INGRESOS_HOG']].apply(cv)
stats['max']=data[['INGRESOS_HOG']].max()
stats
stats.reset_index()

Si se requiriera aplicar esas funciones para varias columnas:

In [ ]:
stats=pd.DataFrame()
stats["N"]=data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].count() # Importante subindizarlo
stats['mean']=data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].mean()
stats['Std.Dev']=data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].std()
stats['cv']=data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].apply(cv)
stats['max']=data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].max()
stats

In [ ]:
type(data[['INGRESOS_HOG','INGRESOS_PER_CAPITA']].apply(cv))

In [ ]:
df = pd.DataFrame(
{'v1': [1, 3, 5, 7, 8, 3, 5, np.nan, 4, 5, 7, 9],
 'v2': [11, 33, 55, 77, 88, 33, 55, np.nan, 44, 55, 77, 99],
 'grupo1': ["red", "blue", 1, 2, np.nan, "big", 1, 2, "red", 1, np.nan, 12],
 'grupo2': ["wet", "dry", 99, 95, np.nan, "damp", 95, 99, "red", 99, np.nan,
                 np.nan]})
df

In [ ]:
df.groupby(['grupo1', 'grupo2'], as_index=False)[['v1', 'v2']].mean()

En principio la función agg permite definer cualquier función de interés:

In [ ]:
df = pd.DataFrame({'A':[1,1,2,2],'B':[1,2,1,2],'values':np.arange(10,30,5)})
df.groupby('A').agg(np.std, ddof=0)
df.groupby('A')['values'].agg(np.std, ddof=0)

Para estimar el coeficiente de variación del ingreso por ejemplo por estrato

In [ ]:
data.groupby(['ESTRATO_VIV'])['INGRESOS_HOG', 'INGRESOS_PER_CAPITA'].std() / data.groupby(['ESTRATO_VIV'])['INGRESOS_HOG', 'INGRESOS_PER_CAPITA'].mean()

In [ ]:
data.groupby('ESTRATO_VIV')['INGRESOS_PER_CAPITA'].aggregate([np.mean, np.median, np.std, st.skew ])

In [ ]:
data.groupby('ESTRATO_VIV', as_index=False)['INGRESOS_PER_CAPITA'].agg([np.mean, np.median, np.std, st.skew ])

Otra funcionalidad de pandas es pasar un diccionario que relacione las columnas a las operaciones aplicadas a dichas columnas

In [ ]:
data.groupby('ESTRATO_VIV').agg({'INGRESOS_PER_CAPITA': 'mean', 'INGRESOS_HOG': 'mean'})

Se pueden crear varias funciones personalizadas para aplicar en las agregaciones:

In [ ]:
def cv(x):
    return np.std(x) / np.mean(x)

data.groupby('ESTRATO_VIV', as_index=False).agg({'INGRESOS_PER_CAPITA': ['mean', cv], 'INGRESOS_HOG':  ['mean', cv]})

In [ ]:
data.groupby('ESTRATO_VIV').agg({'INGRESOS_PER_CAPITA': ['mean', cv], 'INGRESOS_HOG':  ['mean', cv]})

In [ ]:
#df.groupby(['ESTRATO_VIV']).agg({"Amount": [("Sum", "sum"), ("Count", "count")]})
data.groupby('ESTRATO_VIV').agg({'INGRESOS_PER_CAPITA': [('Promedio', 'mean'), ('CV', cv)], 'INGRESOS_HOG':[('Promedio', 'mean'), ('CV', cv)]})

Calcular promedio y mediana del ingreso y del ingreso percapita:

In [ ]:
consulta = data.groupby('ESTRATO_VIV').agg({ 
    'DIRECTORIO_HOG':'size',
    'INGRESOS_HOG':['mean','median'],
    'INGRESOS_PER_CAPITA':['mean','median']
})

In [ ]:
consulta

In [ ]:
consulta.columns

In [ ]:
consulta.columns = list(map(''.join, consulta.columns.values))
consulta

In [ ]:
consulta.columns